<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuistcy.zhiq1_0">
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".activity.ViewNotificationActivity"></activity>
        <activity android:name=".activity.OtherinforActivity" />
        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.RegistersuccessActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.UserinforActivity" />
        <activity android:name=".activity.LaunchtopicActivity" />
        <activity android:name=".activity.AnswerActivity" />
        <activity android:name=".activity.ViewtopicActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.nuistcy.zhiq1_0.BmobContentProvider" />
    </application> <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>